---
name: Release Charts

on:
  push:
    branches:
      - main
      - master

jobs:
  changelog:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Get chart version
        id: get_chart_version
        uses: mikefarah/yq@v4.21.1
        with:
          cmd: yq '.version' 'charts/privatebin/Chart.yaml'
      - name: Generate changelog
        id: gen_changelog
        uses: bdashrad/git-chglog-action@v2.0.3
        with:
          next_version: privatebin-${{ steps.get_chart_version.outputs.result }}
          filename: CHANGELOG.md
      - name: Commit CHANGELOG.md
        uses: EndBug/add-and-commit@v8
        with:
          add: CHANGELOG.md
          default_author: github_actor
          message: 'Update CHANGELOG.md for version ${{ steps.get_chart_version.outputs.result }}'
          push: true

  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.6.3

      - name: Setup python3
        uses: actions/setup-python@v1
        with:
          python-version: '3.x'

      - name: Install yq
        run: |
          pip install yq

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.2.1
        with:
          charts_dir: charts
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
